body {
  font-family: system-ui;
   background: #4b4b4b;
}
.img1 {
 text-align: right;
 background: none;
}
.b1 {
  background: #758492;
  color: #5AFF19;
  text-align: center;
  scale: 1;

}

footer {
width: 99%;
height: 10%;
position: absolute;
bottom: 
background: #ffffff
 
}
.b2{
font-family: serif;
font-size: 7px;
background: #ffffff
}
header {
width: 99%;
height: auto;
}
header .img01  {
  border-radius: 30px;
  position:relative;
 left:500px;
  }
@media (max-width: 768px) { /* スマホサイズ（768px以下）の場合 */
  header .img01 img {
    max-width: 90%; /* 画面幅の90%以内に制限 */
  }
}
  .b01{
line-height: 100px;
    font-size: 30px;
   background: #758492;
  color: #5AFF19;
      
    }
.nav-list {
    line-height: 100px;
    list-style: none;
    font-weight: bold;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.g1 h1 {
 font-family: Yu Mincho;
   font-weight: bold;
font-size: 90px;
text-align: center;

}
.g1 {
background: #c8c8c8;
width: 100%;
height: 4000px
}
.g1 hr {
background: linear-gradient(#4cffff, #5AFF19);
}
.g1 p {
font-family: Yu Mincho;
font-weight: bolder;
text-align: center;
font-size: 20px;
margin: 0 70px 1px;

}
.square1 {
 width: 93%;
  height: 78%;
  background: #ffffff;
margin: 4% 0 0 3%;
box-shadow: 2px 10px 10px gray;
}
.square1 h2 {
font-size: 400%;
margin: 0 100px 0;
letter-spacing: 6 px;
}
.square1 h1{
margin: 0 40% 0;
letter-spacing: 6 px;
background-image: url(https://i.gyazo.com/3a6e15d22367c1d8f63e3553008f60e8.png);
background-size: 100%;
padding : 0 1% 0 0;
color: #39FF14;
background-repeat: no-repeat;
}
.square1 hr {
height: 3px;
width: 70%;
border: none;
background: linear-gradient(to right, black, white);;
margin: 0 5px 0;
}
.square1 a1 {
font-family: Yu Mincho;
font-size: 185%;
margin: 4%;
}
.square1 dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.square1 dl dt {
    text-align: right;
    width: 8.5em;
    padding: 0.5em 1.0em 0.5em 0.5em;
    position: relative;
} 
.square1 dl dd {
    width: calc(100% - 8.5em);
    padding: 0.5em 2.0em 3.0em;
    border-left: 2px solid #7dff4e;
}
.square1 dl dt::after{
    content: '●';
    position: absolute;
    right: -0.55em;
    top: 5px;
    font-size: 22px;
    color: #7dff4e;
}
.square1 img{
    margin: 0 40% 0;
    width: 40%;
    height: auto;
    position: relative;
    border: thick double #7dff4e;
  
}
.square1 .img1{
    margin: 0 -23% 0;
    width: 60%;
    height: 50%;
display: flex;
  
}
.square2 {
 width: 93%;
  height: 10%;
  background: #ffffff;
margin: 4% 0 0 3%;
box-shadow: 2px 10px 10px gray;
}
.ani1 {
font-size: 400%;
color: #ffff;
font-weight: bold;
margin-left: 10%;
background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
max-width: 20%;
 border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}
.ani1.zoomin.is-animated {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
