body {
  font-family: system-ui;
  background: #4b4b4b;
}

.img1 {
  text-align: right;
  background: none;
}

.b1 {
  background: #758492;
  color: #5AFF19;
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
}

.b2 {
  font-family: serif;
  font-size: 12px;
  background: #ffffff;
  text-align: center;
}

header {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

header .img01 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.b01 {
  line-height: 100px;
  font-size: 18px;
  background: #758492;
  color: #5AFF19;
}

.nav-list {
  line-height: 50px;
  list-style: none;
  font-weight: bold;
  text-align: center;
}

.nav-list-item {
  display: inline-block;
  margin: 0 20px;
}

.g1 h1 {
  font-family: Yu Mincho;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.g1 p {
  font-family: Yu Mincho;
  font-weight: bolder;
  text-align: center;
  font-size: 16px;
  margin: 0 20px 1px;
}

.square1 {
  width: 90%;
  height: auto;
  background: #ffffff;
  margin: 4% 0 0 5%;
  box-shadow: 2px 10px 10px gray;
}

.square1 h1 {
  text-align: center;
  font-size: 45px;
  color: #ff5714;
}

.square1 h2 {
  font-size: 24px;
  letter-spacing: 2px;
}

.square1 dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square1 dl dt,
.square1 dl dd {
  padding: 10px;
}

.square1 img {
  width: 80%;
  margin: 20px 10%;
  border: thick double #7dff4e;
}

.square2 {
  width: 90%;
  height: auto;
  background: #ffffff;
  margin: 4% 0 0 5%;
  box-shadow: 2px 10px 10px gray;
}

.ani1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  background: linear-gradient(to right, #362ae0 0%, #3b79cc 50%, #42d3ed 100%);
  color: white;
  padding: 10px;
}

@media (max-width: 768px) {
  header .img01 img {
    max-width: 100%;
  }

  .b01 {
    font-size: 18px;
    line-height: 50px;
  }

  .nav-list {
    font-size: 14px;
    line-height: 40px;
  }

  .g1 h1 {
    font-size: 30px;
  }

  .g1 p {
    font-size: 14px;
  }

  .square1 h1 {
    font-size: 24px;
  }

  .square1 dl dt {
    font-size: 14px;
    padding: 5px;
  }

  .square1 dl dd {
    font-size: 14px;
  }

  .ani1 {
    font-size: 20px;
  }
}
.square1 dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2.0em 3.0em;
  border-left: 2px solid #7dff4e; /* 緑の線を残す */
}

@media (max-width: 768px) {
  .square1 dl dd {
    width: calc(100% - 8.5em);
    padding: 0.5em 1.5em 3.0em;
    border-left: 2px solid #7dff4e; /* スマホ版でも緑の線を保持 */
  }
}
