body {
  font-family: system-ui;
   background: #4b4b4b;
}
.img1 {
 argin-right: 50;
}
.b1 {
  background: #758492;
  color: #5AFF19;
  text-align: center;
  scale: 1;
}

footer {
width: 100%;
height: 200px;
position: absolute;
bottom: -999999999999999999999;
background: #ffffff
 
}
.b2{
font-family: serif;
font-size: 7px;
background: #ffffff
}
header {

}
.img01 {
  border-radius: 30px;
　text-align: center;
 
}


.home {
background: #4b4b4b;
}
